.container {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

button{
  cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    height: 80vh;
  }
}